/.vscode
/.vs
/Database
/download
/models
__pycache__/

# Ignore everything in the directory
logs/fit/*
Samples/*
# Except for directories ending with _STR
!logs/fit/*_STR/
!Samples/*_STR/
!Samples/*_STR.gz

/PAI_model_weights.h5
/PAI_model_weights_BL.h5
/PAI_model_T.h5
/PAI_model_T_BL.h5
/cache
/Build
/validation
/Pneumonia AI.pyproj
/Interface/CLI/Data/PAI_model.h5
/TEMP.txt
/freearc1.tmp
/.idea
/venv
/.ipynb_checkpoints
/Utils/behavioral_overfitting_detection