
/.vscode 


/.vs


/Database 


/download


/models


__pycache__/


logs/fit/*


Samples/*


!logs/fit/*_STR/


!Samples/*_STR/


!Samples/*_STR.gz


/PAI_model_weights.h5
/PAI_model_weights_BL.h5 
/PAI_model_T.h5
/PAI_model_T_BL.h5


/cache


/Build 


/validation


/Pneumonia AI.pyproj


/Interface/CLI/Data/PAI_model.h5


/TEMP.txt
/freearc1.tmp


/Interface/CLI/Data/logs  
/Interface/CLI/Data/dataset.npy


/Interface/CLI/Data/Python Ver.tmp


/Interface/GUI/Data/PAI_model.h5


/Interface/GUI/Data/Python Ver.tmp


/venv_2  
/venv


/Interface/CLI/Data/Python Embed 3.10.11
/Interface/CLI/Data/Use_Python_Embed.tmp
/Interface/CLI/Python.Embed.3.10.11.exe



/Interface/GUI/Data/logs


/Test_ENV_G.py
/scc.exe
/SCC_Auto.cmd
/Microsoft.PowerShell_profile_Nvidia_smi.ps1
/Data/image_SUB_generator.pkl
/GPU_Info.txt
/env
/Temp
/Test.md
/Interface/GUI/Data/model_info.json
/ruff_check_results.txt
/ruff_format_results.txt
/Load_Backup.py


/Backup_*_COPY.ipynb


/history/Archive
/Test_ENV_G.ipynb